# INPUTTING AND OUTPUTTING DATA

Note: To run this notebook without errors, run the `example_fetching_preprocessing_modeling.ipynb` notebook first to generate the required data files

## Table of Contents:
* [Selecting Networks, Stations, and Time Range](#select)
* [Inputting and Outputting Network, Station, and Fire Info](#ioinfo)
  * [Inputting and Outputting Network Info](#ioinfonetwork)
  * [Inputting and Outputting Station Info](#ioinfostation)
  * [Inputting and Outputting Fire Info](#ioinfofire)
* [Inputting and Outputting Station Data](#iodata)
  * [Inputting and Outputting Fetched Station Data](#iodatafetched)
  * [Inputting and Outputting Preprocessed Station Data](#iodatapreprocessed)
  * [Inputting and Outputting Modeled Station Data](#iodatamodeled)

In [1]:
# imports
import os
import sys
module_path = os.path.abspath(os.getcwd() + "\\..")
if module_path not in sys.path:
    sys.path.append(module_path)
import pandas as pd
pd.set_option("display.max_rows", 10)

import utils

<a id="select"></a>
## Selecting Networks, Stations, and Time Range

Note: Visual examples in notebook are inteded for networks GR_\_ASOS and CY_\_ASOS, station LGAV, and time range 1/1/2018 - 1/1/2022

In [2]:
# select networks with config file
network_list = utils.read_config_options(networks_config=True)

In [3]:
network_list

['GR__ASOS', 'CY__ASOS']

In [4]:
# select stations with config file
station_list = utils.read_config_options(stations_config=True)

In [5]:
station_list

['LGAV']

In [6]:
# select time range for data with config file
start_datetime, end_datetime = utils.read_config_options(datetimes_config=True)

In [7]:
start_datetime, end_datetime

(Timestamp('2018-01-01 00:00:00'), Timestamp('2022-01-01 00:00:00'))

<a id="ioinfo"></a>
## Inputting and Outputting Network, Station, and Fire Info

<a id="ioinfonetwork"></a>
### Inputting and Outputting Network Info

In [8]:
# input only network code of selected networks
network_info = utils.read_network_info(networks=network_list, main_columns=True)

In [9]:
network_info

     network
56  CY__ASOS
86  GR__ASOS

In [10]:
# input all network info of every available network
network_info = utils.read_network_info()

# output all network info of every available network
utils.write_network_info(network_info)

In [11]:
network_info

        network       network_name
0      AF__ASOS   Afghanistan ASOS
1       AL_ASOS       Alabama ASOS
2       AK_ASOS        Alaska ASOS
3      AL__ASOS       Albania ASOS
4    CA_AB_ASOS    Alberta CA ASOS
..          ...                ...
258     WY_ASOS       Wyoming ASOS
259    YE__ASOS         Yemen ASOS
260  CA_YT_ASOS  Yukon Canada ASOS
261    ZM__ASOS        Zambia ASOS
262    ZW__ASOS      Zimbabwe ASOS

[263 rows x 2 columns]

<a id="ioinfostation"></a>
### Inputting and Outputting Station Info

In [12]:
# input only station ID and network code of selected stations
station_info = utils.read_station_info(stations=station_list, main_columns=True)

In [13]:
station_info

    sid   network
2  LGAV  GR__ASOS

In [14]:
# input only station ID and network code of stations in selected networks
station_info = utils.read_station_info(networks=network_list, main_columns=True)

In [15]:
station_info

     sid   network
0   LGAL  GR__ASOS
1   LGAD  GR__ASOS
2   LGAV  GR__ASOS
3   LGSA  GR__ASOS
4   LGHI  GR__ASOS
..   ...       ...
36  LCGK  CY__ASOS
37  LCLK  CY__ASOS
38  LCEN  CY__ASOS
39  LCNC  CY__ASOS
40  LCPH  CY__ASOS

[41 rows x 2 columns]

In [16]:
# input all station info of every active station in time range
station_info = utils.read_station_info(start_datetime=start_datetime, end_datetime=end_datetime)

In [17]:
station_info

,elevation,sname,state,country,tzname,county,sid,network,start,end,lat,lon
0,3.937641,Alexandroupoli,NaN,GR,Europe/Athens,NaN,LGAL,GR__ASOS,1932-01-01,NaT,40.8562,25.9450
1,12.000000,Andravida,NaN,GR,Europe/Athens,NaN,LGAD,GR__ASOS,1965-01-01,NaT,37.9207,21.2926
2,94.000000,Athens,NaN,GR,Europe/Athens,NaN,LGAV,GR__ASOS,2004-01-01,NaT,37.9364,23.9445
3,135.000000,Chania,NaN,GR,Europe/Athens,NaN,LGSA,GR__ASOS,1932-01-01,NaT,35.4833,24.1167
4,4.000000,Chios,NaN,GR,Europe/Athens,NaN,LGHI,GR__ASOS,1991-01-01,NaT,38.3432,26.1406
...,...,...,...,...,...,...,...,...,...,...,...,...
35,23.000000,Akrotiri,NaN,CY,Asia/Nicosia,NaN,LCRA,CY__ASOS,1960-01-01,NaT,34.5904,32.9879
37,2.000000,Larnaca,NaN,CY,Asia/Nicosia,NaN,LCLK,CY__ASOS,1976-01-01,NaT,34.8733,33.6172
38,91.000000,Nicosia,NaN,CY,Asia/Nicosia,NaN,LCEN,CY__ASOS,2011-01-01,NaT,35.1489,33.4997
39,161.000000,NICOSIA/ATHALASSA,NaN,CY,Asia/Nicosia,NaN,LCNC,CY__ASOS,1990-01-01,2020-01-01,35.1408,33.3964
40,8.000000,Paphos,NaN,CY,Asia/Nicosia,NaN,LCPH,CY__ASOS,1948-01-01,NaT,34.7194,32.4847

In [18]:
# input all station info of every available station
station_info = utils.read_station_info()

# output all station info of every available station
utils.write_station_info(station_info)

In [19]:
station_info

,elevation,sname,state,country,tzname,county,sid,network,start,end,lat,lon
0,3.937641,Alexandroupoli,NaN,GR,Europe/Athens,NaN,LGAL,GR__ASOS,1932-01-01,NaT,40.8562,25.9450
1,12.000000,Andravida,NaN,GR,Europe/Athens,NaN,LGAD,GR__ASOS,1965-01-01,NaT,37.9207,21.2926
2,94.000000,Athens,NaN,GR,Europe/Athens,NaN,LGAV,GR__ASOS,2004-01-01,NaT,37.9364,23.9445
3,135.000000,Chania,NaN,GR,Europe/Athens,NaN,LGSA,GR__ASOS,1932-01-01,NaT,35.4833,24.1167
4,4.000000,Chios,NaN,GR,Europe/Athens,NaN,LGHI,GR__ASOS,1991-01-01,NaT,38.3432,26.1406
...,...,...,...,...,...,...,...,...,...,...,...,...
36,20.000000,Geçitkale,NaN,CY,Asia/Nicosia,NaN,LCGK,CY__ASOS,1986-01-01,2012-01-01,35.2526,33.7358
37,2.000000,Larnaca,NaN,CY,Asia/Nicosia,NaN,LCLK,CY__ASOS,1976-01-01,NaT,34.8733,33.6172
38,91.000000,Nicosia,NaN,CY,Asia/Nicosia,NaN,LCEN,CY__ASOS,2011-01-01,NaT,35.1489,33.4997
39,161.000000,NICOSIA/ATHALASSA,NaN,CY,Asia/Nicosia,NaN,LCNC,CY__ASOS,1990-01-01,2020-01-01,35.1408,33.3964
40,8.000000,Paphos,NaN,CY,Asia/Nicosia,NaN,LCPH,CY__ASOS,1948-01-01,NaT,34.7194,32.4847

<a id="ioinfofire"></a>
### Inputting and Outputting Fire Info

In [20]:
# input only network code, latitude, longitude, spread, and time period of fires in selected networks
fire_info = utils.read_fire_info(networks=network_list, main_columns=True)

In [21]:
fire_info

,network,lat,lon,spread,start,end
0,GR__ASOS,38.021000,23.135200,56133.0000,2018-07-23 12:03:00,2018-08-02 19:30:00
1,GR__ASOS,38.043600,23.978300,12759.0000,2018-07-23 16:41:00,2018-09-10 09:04:00
2,CY__ASOS,35.042173,33.049712,0.2425,2012-05-01 15:30:00,NaT
3,CY__ASOS,34.854890,33.416124,7.5000,2012-05-13 13:25:00,NaT
4,CY__ASOS,35.022168,33.075646,0.1750,2012-05-24 15:25:00,NaT
...,...,...,...,...,...,...
678,CY__ASOS,34.852057,32.398301,3.1400,2021-11-19 10:15:00,NaT
679,CY__ASOS,35.055362,32.342807,0.1000,2021-11-20 11:00:00,NaT
680,CY__ASOS,34.957101,32.746745,0.1000,2021-11-24 13:15:00,NaT
681,CY__ASOS,34.968007,32.370650,2.8700,2021-11-30 14:00:00,NaT
682,CY__ASOS,34.920493,32.413589,20.0000,2021-12-04 13:00:00,NaT

In [22]:
# input all station info of active fires in selected time range with spread greater or equal to 5 hectares
fire_info = utils.read_fire_info(start_datetime=start_datetime, end_datetime=end_datetime,
                                 min_spread=5)

In [23]:
fire_info

,network,country,state,region,location,lat,lon,spread,start,end,cause
0,GR__ASOS,GR,NaN,Attica,Kineta-Geraneia,38.021000,23.135200,56133.000,2018-07-23 12:03:00,2018-08-02 19:30:00,Human negligence
1,GR__ASOS,GR,NaN,Attica,Daou Penteli-Neos Voutzas-Mati,38.043600,23.978300,12759.000,2018-07-23 16:41:00,2018-09-10 09:04:00,Human negligence
369,CY__ASOS,CY,NaN,ΛΑΡΝΑΚΑ,ΑΓΙΑ ΑΝΝΑ,34.932689,33.502821,6.223,2018-05-03 13:00:00,NaT,Γεωργικές δραστηριότητες
392,CY__ASOS,CY,NaN,ΛΕΥΚΩΣΙΑ,ΠΑΝΩ ΠΥΡΓΟΣ,35.130018,32.671958,31.000,2018-06-21 18:14:00,NaT,Σκόπιμη
395,CY__ASOS,CY,NaN,ΛΕΜΕΣΟΣ,ΠΑΝΩ ΠΟΛΕΜΙΔΙΑ,34.707799,32.985018,30.000,2018-06-30 13:05:00,NaT,Γεωργικές δραστηριότητες
...,...,...,...,...,...,...,...,...,...,...,...
654,CY__ASOS,CY,NaN,ΛΕΜΕΣΟΣ,ΑΡΜΕΝΟΧΩΡΙ,34.757625,33.122312,76.870,2021-09-10 16:05:00,NaT,Σκόπιμη
661,CY__ASOS,CY,NaN,ΛΑΡΝΑΚΑ,ΤΟΧΝΗ,34.778750,33.338864,8.433,2021-10-09 11:30:00,NaT,Σκόπιμη
668,CY__ASOS,CY,NaN,ΠΑΦΟΣ,ΔΡΟΥΣΕΙΑ,34.985722,32.356150,100.000,2021-11-01 11:00:00,NaT,Γεωργικές δραστηριότητες
674,CY__ASOS,CY,NaN,ΠΑΦΟΣ,ΑΝΔΡΟΛΙΚΟΥ,34.992850,32.384825,8.660,2021-11-10 14:20:00,NaT,Γεωργικές δραστηριότητες
682,CY__ASOS,CY,NaN,ΠΑΦΟΣ,ΚΑΘΙΚΑΣ,34.920493,32.413589,20.000,2021-12-04 13:00:00,NaT,Γεωργικές δραστηριότητες

In [24]:
# input all fire info of every available fire
fire_info = utils.read_fire_info()

# output all fire info of every available fire
utils.write_fire_info(fire_info)

In [25]:
fire_info

,network,country,state,region,location,lat,lon,spread,start,end,cause
0,GR__ASOS,GR,NaN,Attica,Kineta-Geraneia,38.021000,23.135200,56133.0000,2018-07-23 12:03:00,2018-08-02 19:30:00,Human negligence
1,GR__ASOS,GR,NaN,Attica,Daou Penteli-Neos Voutzas-Mati,38.043600,23.978300,12759.0000,2018-07-23 16:41:00,2018-09-10 09:04:00,Human negligence
2,CY__ASOS,CY,NaN,ΛΕΥΚΩΣΙΑ,ΑΓΙΑ ΜΑΡΙΝΑ ΞΥΛΙΑΤΟΥ,35.042173,33.049712,0.2425,2012-05-01 15:30:00,NaT,Γεωργικές δραστηριότητες
3,CY__ASOS,CY,NaN,ΛΑΡΝΑΚΑ,ΚΟΦΙΝΟΥ,34.854890,33.416124,7.5000,2012-05-13 13:25:00,NaT,Δραστηριότητες σε κατοικίες
4,CY__ASOS,CY,NaN,ΛΕΥΚΩΣΙΑ,ΠΛΑΤΑΝΙΣΤΑΣΑ,35.022168,33.075646,0.1750,2012-05-24 15:25:00,NaT,Στρατιωτικές δραστηριότητες
...,...,...,...,...,...,...,...,...,...,...,...
678,CY__ASOS,CY,NaN,ΠΑΦΟΣ,ΠΕΓΕΙΑ,34.852057,32.398301,3.1400,2021-11-19 10:15:00,NaT,Γεωργικές δραστηριότητες
679,CY__ASOS,CY,NaN,ΠΑΦΟΣ,ΝΕΟ ΧΩΡΙΟ,35.055362,32.342807,0.1000,2021-11-20 11:00:00,NaT,Φυσική (κεραυνός)
680,CY__ASOS,CY,NaN,ΛΕΥΚΩΣΙΑ,ΜΥΛΙΚΟΥΡΙ,34.957101,32.746745,0.1000,2021-11-24 13:15:00,NaT,Φυσική (κεραυνός)
681,CY__ASOS,CY,NaN,ΠΑΦΟΣ,ΙΝΕΙΑ,34.968007,32.370650,2.8700,2021-11-30 14:00:00,NaT,Σκόπιμη
682,CY__ASOS,CY,NaN,ΠΑΦΟΣ,ΚΑΘΙΚΑΣ,34.920493,32.413589,20.0000,2021-12-04 13:00:00,NaT,Γεωργικές δραστηριότητες

<a id="iodata"></a>
## Inputting and Outputting Station Data

<a id="iodatafetched"></a>
### Inputting and Outputting Fetched Station Data

In [26]:
# input fetched station data for station LGAV in network GR__ASOS for selected time range
# select timestamp column as index
station_data = utils.read_station_data(station="LGAV",
                                       start_datetime=start_datetime, end_datetime=end_datetime,
                                       network="GR__ASOS",
                                       category="fetched",
                                       set_index_column="valid")

# output fetched station data for station LGAV in network GR__ASOS for selected time range
# include index column
utils.write_station_data(station_data,
                         station="LGAV",
                         start_datetime=start_datetime, end_datetime=end_datetime,
                         network="GR__ASOS",
                         category="fetched",
                         index_column=True)

In [27]:
station_data

,station,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,...,skyl3,skyl4,wxcodes,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,peak_wind_gust,peak_wind_drct,peak_wind_time,feel
valid,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:20:00,LGAV,37.4,30.2,74.98,350.0,1.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.40
2018-01-01 00:50:00,LGAV,35.6,30.2,80.51,0.0,0.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.60
2018-01-01 01:20:00,LGAV,33.8,30.2,86.49,290.0,2.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.80
2018-01-01 01:50:00,LGAV,35.6,32.0,86.59,290.0,5.0,0.0,30.12,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.67
2018-01-01 02:20:00,LGAV,32.0,28.4,86.39,320.0,4.0,0.0,30.12,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 21:50:00,LGAV,55.4,37.4,50.64,30.0,7.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.40
2021-12-31 22:20:00,LGAV,55.4,37.4,50.64,NaN,3.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.40
2021-12-31 22:50:00,LGAV,53.6,37.4,54.07,60.0,7.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.60
2021-12-31 23:20:00,LGAV,50.0,39.2,66.27,40.0,6.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.00
2021-12-31 23:50:00,LGAV,48.2,39.2,70.88,NaN,1.0,0.0,30.15,NaN,6.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.20

In [28]:
# input fetched station data from all stations up to a period of 24 hours
# input only main columns
# select timestamp column as index
station_data = utils.read_station_data(station="ALL",
                                       start_datetime=pd.to_datetime("2022-01-01"),
                                       end_datetime=pd.to_datetime("2022-01-02"),
                                       network="ALL",
                                       category="fetched",
                                       main_columns=True,
                                       set_index_column="valid")

In [29]:
station_data

                     tmpf  dwpf    relh  sknt skyc1   skyl1   feel
valid
2022-01-01 00:00:00  24.8   8.6   49.59   5.0   FEW  2500.0  17.84
2022-01-01 00:01:00  51.1  46.9   85.48   7.0   FEW   700.0  51.10
2022-01-01 00:02:00  77.0  69.8   78.48   7.0   FEW  1400.0  77.00
2022-01-01 00:03:00  35.1  32.0   88.33   9.0   BKN   800.0  27.37
2022-01-01 00:04:00  44.1  44.1  100.00   4.0   SCT  1900.0  41.55
...                   ...   ...     ...   ...   ...     ...    ...
2022-01-01 23:55:00   5.0  -2.0   72.18  17.0   OVC  3700.0 -15.30
2022-01-01 23:56:00  73.9  72.0   93.79  12.0   FEW   500.0  73.90
2022-01-01 23:57:00  28.4  26.6   92.86  12.0   SCT   700.0  17.42
2022-01-01 23:58:00  47.7  28.0   46.13  20.0   FEW  4200.0  39.99
2022-01-01 23:59:00  28.4  26.6   92.86  14.0   BKN  1000.0  16.52

[1440 rows x 7 columns]

<a id="iodatapreprocessed"></a>
### Inputting and Outputting Preprocessed Station Data

In [30]:
# input preprocessed station data scaled with MinMaxScaler
# for station LGAV in network GR__ASOS for selected time range
# input only main columns
# select timestamp column as index
station_data = utils.read_station_data(station="LGAV",
                                       start_datetime=start_datetime, end_datetime=end_datetime,
                                       network="GR__ASOS",
                                       category="preprocessed", subcategory="scaled_minmax",
                                       main_columns=True,
                                       set_index_column="valid")

# output preprocessed station data scaled with MinMaxScaler
# for station LGAV in network GR__ASOS for selected time range
# include index column
utils.write_station_data(station_data,
                         station="LGAV",
                         start_datetime=start_datetime, end_datetime=end_datetime,
                         network="GR__ASOS",
                         category="preprocessed", subcategory="scaled_minmax",
                         index_column=True)

In [31]:
station_data

,tmpf,dwpf,relh,sknt,skyc1,skyl1,feel
valid,,,,,,,
2018-01-01 00:00:00,0.127907,0.312500,0.748787,0.012987,0.25,0.320388,0.194238
2018-01-01 01:00:00,0.104651,0.328125,0.848064,0.090909,0.25,0.320388,0.142719
2018-01-01 02:00:00,0.081395,0.296875,0.846935,0.090909,0.25,0.320388,0.104669
2018-01-01 03:00:00,0.116279,0.312500,0.779998,0.090909,0.25,0.320388,0.142417
2018-01-01 04:00:00,0.116279,0.312500,0.782538,0.077922,0.25,0.320388,0.157516
...,...,...,...,...,...,...,...
2021-12-31 19:00:00,0.348837,0.437500,0.483068,0.142857,0.25,0.223301,0.400797
2021-12-31 20:00:00,0.360465,0.437500,0.465007,0.155844,0.25,0.223301,0.411669
2021-12-31 21:00:00,0.383721,0.437500,0.424766,0.233766,0.25,0.223301,0.433412
2021-12-31 22:00:00,0.360465,0.437500,0.462185,0.129870,0.25,0.223301,0.411669
2021-12-31 23:00:00,0.290698,0.468750,0.645276,0.090909,0.25,0.223301,0.346440

In [32]:
# input preprocessed split clean station data of temperature column
# for station LGAV for selected time range
# infer station network code (no network given)
# select timestamp column as index
station_data = utils.read_station_data(station="LGAV",
                                       start_datetime=start_datetime, end_datetime=end_datetime,
                                       column="tmpf",
                                       category="preprocessed", subcategory="clean",
                                       set_index_column="valid")

# output preprocessed split clean station data of temperature column
# for station LGAV for selected time range
# infer station network code (no network given)
# include index column
utils.write_station_data(station_data,
                         station="LGAV",
                         start_datetime=start_datetime, end_datetime=end_datetime,
                         column="tmpf",
                         category="preprocessed", subcategory="clean",
                         index_column=True)

In [33]:
station_data

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
valid,,,,,,,,,,,,,,,,,,,,,
2018-01-01,34.030862,34.650495,35.430459,36.353585,37.539599,40.653567,44.710856,49.215506,53.823551,57.567158,...,58.808696,57.422078,56.077019,54.691041,53.244034,52.202310,52.341825,52.226097,52.137753,52.130283
2018-01-02,53.406390,53.509714,53.639052,53.829161,53.917375,54.534656,55.548888,56.920711,58.393132,59.634019,...,58.487370,56.602075,54.642518,53.204411,52.609786,52.231907,51.702538,51.221405,50.734233,50.205196
2018-01-03,47.927456,47.704333,47.561935,47.458669,47.330485,48.078804,49.536368,51.183385,52.803553,54.447099,...,54.488358,52.325492,49.710703,47.158202,45.145768,44.147991,44.391672,44.576266,44.867396,45.246158
2018-01-04,49.714237,50.036949,50.297736,50.473861,50.482826,50.027728,49.374697,48.528404,47.563525,46.849101,...,47.452525,47.884631,48.368047,48.866650,49.286131,49.657711,49.823314,49.954249,50.058868,50.140865
2018-01-05,49.201990,48.067867,47.059480,46.148748,45.330973,46.132103,47.944407,50.243023,52.608291,54.747635,...,54.251902,52.144661,49.701946,47.356239,45.215386,43.182240,41.465912,39.813571,38.169375,36.566791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,58.952667,58.978369,59.019147,59.089020,59.242331,59.744911,60.273263,60.881542,61.586489,62.168986,...,60.833374,60.166600,59.666331,59.284843,59.054270,59.000000,59.000000,59.000000,59.000000,59.000000
2021-12-28,58.109741,58.018879,57.950037,57.913173,57.867534,57.994439,58.470558,59.222471,59.924163,60.385534,...,58.778125,57.978170,57.205629,56.568948,56.187209,56.073456,56.071026,56.041943,56.034319,56.022061
2021-12-29,54.973297,54.304183,53.642829,53.018168,52.376085,52.228326,52.889278,54.001028,55.430888,56.871621,...,56.976963,56.172158,55.214591,54.170112,52.973992,51.475856,49.834849,48.227508,46.601253,44.977401
2021-12-30,45.886507,47.599114,49.284227,50.929609,52.542367,53.800328,54.601569,55.052976,55.321193,55.327554,...,53.638750,53.475502,53.419878,53.338958,53.091588,52.821126,52.784038,52.776003,52.762912,52.779584
2021-12-31,53.668898,53.289936,52.924755,52.574465,52.233355,52.188574,52.368467,52.830217,53.660548,54.666237,...,55.729727,54.923458,54.160118,53.663042,53.558008,53.845282,54.179630,54.540181,54.911566,55.264641

<a id="iodatamodeled"></a>
### Inputting and Outputting Modeled Station Data

In [34]:
# input clustered split clean station data for station LGAV in network GR__ASOS for selected time range
# select timestamp column as index
station_data = utils.read_station_data(station="LGAV",
                                       start_datetime=start_datetime, end_datetime=end_datetime,
                                       network="GR__ASOS",
                                       category="modeled", subcategory="kmeans_timeseries",
                                       set_index_column="valid")

# output clustered split clean station data for station LGAV in network GR__ASOS for selected time range
# infer station network code (no network given)
# include index column
utils.write_station_data(station_data,
                         station="LGAV",
                         start_datetime=start_datetime, end_datetime=end_datetime,
                         category="modeled", subcategory="kmeans_timeseries",
                         index_column=True)

In [35]:
station_data

            tmpf  dwpf  relh  sknt  skyc1  skyl1  feel
valid
2018-01-01     6     3     5    13      0      1     3
2018-01-02    10     6     8    13      0      2     1
2018-01-03     1     2     0     1      4      8    13
2018-01-04     5     2    11    10      4      0    13
2018-01-05    12     3     7    12      0      5    13
...          ...   ...   ...   ...    ...    ...   ...
2021-12-27     4    11     6     0      3      0     5
2021-12-28     4     7     9    12      0     10     5
2021-12-29    10     9    10     8      8      5     1
2021-12-30    10     0     4     5      5      4     1
2021-12-31    10     9    11     3      4      5     1

[1461 rows x 7 columns]